body {
    font-family: yekan_bakh;
}


/* global */
.fw-100 {
    font-weight: 100;
}

.fw-400 {
    font-weight: 400;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}




.fs11 {
    font-size: 11px;
}

.fs12 {
    font-size: 12px !important;
}

.fs13 {
    font-size: 13px;
}

.fs14 {
    font-size: 14px;
}

.fs15 {
    font-size: 15px;
}

.fs16 {
    font-size: 16px !important;
}

.fs17 {
    font-size: 17px;
}

.fs18 {
    font-size: 18px;
}

.fs19 {
    font-size: 19px;
}

.fs20 {
    font-size: 20px;
}

.fs22 {
    font-size: 22px;
}

.fs25 {
    font-size: 25px;
}

.fs30 {
    font-size: 30px;
}

.fs35 {
    font-size: 35px;
}

.bg-green {
    background: #8cff64;
}

.topbar {
    height: 87px;

}

.object-fit-cover {
    object-fit: cover;
}

a {
    text-decoration: none;
}

.menu {
    margin-top: -30px;
    border-radius: 40px 40px 0 0;
    padding-top: 1.9em;
    padding-bottom: 1.9em;
}

.menu ul li {
    list-style: none;
    display: inline;
    margin-right: 30px;
    font-size: 19px;
    font-weight: 600;
}

.menu ul li a {
    color: #000000;
}

.c-sec-color {
    color: #a8a8a8;
}

.menu-search-inp::placeholder {
    font-size: 14px;
    color: #a8a8a8;
}

.menu-search-inp:focus {
    outline: none;
}

.menu-search-inp {
    color: #a8a8a8;
}

.menu .shop-circle {
    padding: 12px;
}

.slider-1 {
    height: 780px;
    background: url(../images/slider/download\ \(1\).png);
    width: 100%;
    background-size: cover;
}

.br-20 {
    border-radius: 20px;
}

.slider {
    overflow: hidden;
}

.large-txt {
    font-size: 95px;
}

.large-txt-2 {
    font-size: 76px;
}

.slider .red {
    color: rgb(253, 17, 62);
}

.shop-btn {
    padding: 12px 90px;
    ;
    border-radius: 31px;
}

.mt--15px {
    margin-top: -14px;
}

.slider-img {
    transform: rotateY(180deg) scale(1);
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        transform: rotateY(180deg) scale(1);
    }

    50% {
        transform: rotateY(180deg) scale(1.06);
    }

    100% {
        transform: rotateY(180deg) scale(1);
    }
}

.left-img-slider {
    left: -417px;
    bottom: -370px;
    transform: rotateY(180deg);
    width: 1287px;
}

.banner-img {
    border-radius: 20px;
    height: 550px;
}

.banner-img+div {
    left: 0;
    top: 0;
}

.banner-img-2 {
    background: url(../images/slider/h1_bn-2.jpg);
}

.img-hover {
    display: block;
    overflow: hidden;
    /* تا چیزی بیرون نزنه */
    border-radius: 12px;
    /* اختیاری */
}

.img-hover img {
    width: 100%;
    transition: all 0.4s ease;
}

.img-hover:hover img {
    transform: scale(1.08);
    /* کمی زوم */
    filter: brightness(0.8);
    /* کمی تیره‌تر */
}

.category-img {
    min-height: 350px;
}

.banner-badge {
    background-color: #3fc9d3;
    width: fit-content;
    font-size: 14px;
    padding: 12px 22px;
    border-radius: 32px;
}

.banner-btn {
    border: 1px solid white;

}


.first-title {
    font-size: 70px;

}

.first-title .first-part {
    color: #a8a8a8;
}

.cat-btn {
    border: 1px solid #e0e0e0;
    background: transparent;
    padding: 12px 0 12px 0;
    border-radius: 40px;
}

.border-line {
    width: 100%;
    height: 5px;
    background-color: #f4f4f4;
}

.product-first-clumn {
    height: 530px;
}

.product-first-clumn-img {
    filter: brightness(40%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
    border-radius: 20px;

}

.product-first-clumn:hover .product-first-clumn-img {
    filter: brightness(80%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
}

.pro-clumn {
    font-size: 70px;
}

.pro-clumn .first-part {
    color: #a8a8a8;
}

.price-type-badge {
    padding: 4px 17px;
    border: 1px solid;
    border-radius: 25px;
    font-size: 14px;
}

.price-type-badge.red {
    color: #EE440E;
    border-color: #EE440E;
}

.price-type-badge.green {
    color: #61d7ba;
    border-color: #61d7ba;
}

.price-type-badge.purpule {
    color: #8aa9d8;
    border-color: #8aa9d8;
}

.bottom-of-card {
    background-color: #8cff64 !important;
    height: 40px !important;
    transition: .4s all;
}

.product-swiper-card {
    position: relative;
    overflow: hidden;
}

.product-swiper-card .bottom-of-card {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -100%;
    /* مخفی پایین کارت */
    background: #fff;
    /* یا هر رنگی */
    padding: 15px;
    transition: all 0.3s ease;
    /* انیمیشن حرکت */
    opacity: 0;
    /* محو بودن اولش */
}

/* .product-swiper-card:hover {
    background-color: #f8f8f8;
} */

.product-swiper-card:hover .bottom-of-card {
    bottom: 0;
    /* بیاد بالا */
    opacity: 1;
    /* شفاف بشه */
}

.product-swiper-card .img,
.product-swiper-card .price {
    transition: all 0.3s ease;
    /* انیمیشن حرکت */

}

.product-swiper-card:hover .img {
    transform: translateY(-13px);
}

.product-swiper-card:hover .price {
    transform: translateY(-35px);
}

.product-swiper-card {
    position: relative;
    overflow: hidden;
}

.product-swiper-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0);
    /* شفاف در حالت عادی */
    transition: background 0.3s ease;
}

.product-swiper-card:hover::after {
    background: rgba(0, 0, 0, 0.05);
    /* خاکستری ملایم */
}

.product-swiper-card.position-relative .position-absolute {
    top: 100px;
    left: 15px;
    display: none;
}

.product-swiper-card.position-relative .position-absolute div {
    width: 35px;
    height: 35px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 50%;
}

.product-swiper-card.position-relative:hover .position-absolute {
    display: block;
    z-index: 1000;
}

.border-c {
    border: 1px solid rgb(236, 236, 236);
}

.py-6 {
    padding-top: 5em;
    padding-bottom: 5em;
}

.intro-txt {
    font-size: 65px;
}

.lh-2 {
    line-height: 2;
}

.c-sec-2-color {
    color: #5b5b5b;
}

.intro-img {
    height: 840px;
}

.back-color-co {
    background: linear-gradient(to right,
            #f5f5f5 40%,
            /* از 0 تا 40 درصد خاکستری */
            #f5f5f5 40%,
            /* مرز صاف */
            #ffffff 40%,
            /* از 40 به بعد سفید */
            #ffffff 100%
            /* تا آخر سفید */
        );
}

/* media */
@media only screen and (min-width: 576px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {
    .max-width-container {
        max-width: 1200px;
    }
}

@media only screen and (min-width: 1280px) {
    .max-width-container {
        max-width: 1280px;
    }
}

@media only screen and (min-width: 1400px) {
    .max-width-container {
        max-width: 1400px;
    }
}

@media only screen and (min-width: 1500px) {
    .max-width-container {
        max-width: 1460px;
    }
}