body {
    font-family: yekan_bakh;
}


/* global */
.fw-100 {
    font-weight: 100;
}

.fw-400 {
    font-weight: 400;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}


.w-fit {
    width: fit-content;
}

.fs11 {
    font-size: 11px;
}

.fs12 {
    font-size: 12px !important;
}

.fs13 {
    font-size: 13px;
}

.fs14 {
    font-size: 14px;
}

.fs15 {
    font-size: 15px;
}

.fs16 {
    font-size: 16px !important;
}

.fs17 {
    font-size: 17px;
}

.fs18 {
    font-size: 18px !important;
}

.fs19 {
    font-size: 19px;
}

.fs20 {
    font-size: 20px;
}

.fs22 {
    font-size: 22px;
}

.fs23 {
    font-size: 22px;
}

.fs25 {
    font-size: 25px;
}

.fs30 {
    font-size: 30px;
}

.fs35 {
    font-size: 35px;
}

.bg-green {
    background: #8cff64;
}

.br-5 {
    border-radius: 5px;
}

.br-10 {
    border-radius: 10px;
}

.border-end,
.border-start,
.border-bottom,
.border-top,
.border {
    border-color: rgb(230, 230, 230) !important;
}

.cursor-pointer {
    cursor: pointer;
}

.text-black {
    color: #000000 !important;
}

/* topbar */
.topbar {
    height: 87px;

}


.object-fit-cover {
    object-fit: cover;
}

a {
    text-decoration: none;
}

.menu {
    margin-top: -30px;
    border-radius: 40px 40px 0 0;
    font-weight: 600;

}

.main-menu li.menu-item {
    list-style: none;
    display: inline;
    margin-right: 10px;
    font-size: 19px;
    font-weight: 600;
    padding-top: 1.8em;
    padding-bottom: 1.8em;

}

.main-menu li.menu-item a {
    color: #000000;
}



























/* منوی اصلی */
.main-menu .menu-item {
    position: relative;
    margin: 0 15px;
}

.main-menu .menu-item a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    display: block;

}

.submenu,
.mega-menu {
    position: absolute;
    top: 100%;
    background: #fff;
    z-index: 99;
    transition: all 0.3s ease;
    opacity: 0;
    width: 274px;
    right: -30px;
    border-radius: 15px;
    transform: translateY(20px) !important;
    transition: transform 0.3s ease, opacity 0.3s ease !important;
    pointer-events: none;

}

.submenu li a {
    color: #5B5B5B;
    font-weight: 500;
}


.submenu li:not(:first-child) {
    margin-top: 15px;
}

/* زیر منوی کوچک */
.submenu.small-menu {
    min-width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.mega-menu.full-width {
    position: fixed;
    top: 167px;
    right: 0;
    width: 100vw;
    background: #fff;
    z-index: 999;
    pointer-events: none;
    /* وقتی مخفی است، کلیک نمی‌پذیرد */

    /* حالت مخفی */
    opacity: 0;
    border-radius: 0 !important;
    transform: translateY(20px) !important;
    transition: transform 0.3s ease, opacity 0.3s ease !important;
    box-shadow: 0 0 10px rgba(212, 212, 212, 0.738);
}

/* وقتی موس روی آیتم منو یا خود مگا منو هست */
.menu-item:hover .mega-menu.full-width,
.menu-item:hover .submenu {
    opacity: 1;
    transform: translateY(0) !important;
    transition: 1s all;
    pointer-events: auto;
    /* حالا قابل تعامل است */
}

.meg-mn ul li {
    list-style: none;
}

.meg-mn ul li {
    font-weight: 500;
    margin: 0;
    margin-top: 16px;
}

.meg-mn ul li a {
    color: #5B5B5B !important;
    padding: 0 !important;
    font-size: 15px;

}

/* mobile menu */
/* overlay */
.custom-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 900;
}

/* منوی راست */
.custom-sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background: #ffffff;
    color: #000;
    transition: right 0.3s;
    z-index: 1000;
    overflow-y: auto;
}

.custom-sidebar.active {
    right: 0;
}

/* لوگو */
.custom-sidebar .logo {
    text-align: center;
    padding: 20px;
}

.custom-sidebar .logo img {
    max-width: 150px;
}

/* منو اصلی */
.custom-sidebar .menu a {
    display: block;
    padding: 12px 20px;
    color: #000;
    text-decoration: none;
    position: relative;
    font-weight: 700;
    font-size: 18px;
}

.custom-sidebar .menu a:hover {
    background: #ffffff;
}




/* زیرمنوها */
.custom-sidebar .custom-submenu {
    display: none;
    background: #ffffff;
}

.custom-sidebar .custom-submenu a {
    padding-left: 40px;
    color: rgb(131, 131, 131);
    border-bottom: none;
    font-weight: 500;
    font-size: 15px;

}

.custom-sidebar .menu .custom-has-submenu.active .custom-submenu {
    display: block;
}

/* دکمه منو */
#menuBtn {
    margin: 20px;
}





.c-sec-color {
    color: #a8a8a8;
}

.menu-search-inp::placeholder {
    font-size: 14px;
    color: #a8a8a8;
}

.menu-search-inp:focus {
    outline: none;
}

.menu-search-inp {
    color: #a8a8a8;
}

.menu .shop-circle {
    padding: 12px;
}

.slider-1 {
    height: 780px;
    background: url(../images/slider/download\ \(1\).png);
    width: 100%;
    background-size: cover;
}

.slider-2 {
    height: 780px;
    background: url(../images/slider/download\ \(2\).png);
    width: 100%;
    background-size: cover;
}

.slider-3 {
    height: 780px;
    background: url(../images/slider/download\ \(2\).png);
    width: 100%;
    background-size: cover;
}



/* همه نقاط (غیرفعال) */
.swiper-pagination-bullet {
    background-color: white !important;
    width: 11px !important;
    height: 11px !important;
}

/* نقطه فعال */
.swiper-pagination-bullet-active {
    border: 3px solid #8cff64 !important;
    background-color: transparent !important;
    width: 11px !important;
    height: 11px !important;

}



.br-20 {
    border-radius: 20px;
}

.slider {
    overflow: hidden;
}



.large-txt-2 {
    font-size: 30px;
}

.slider .red {
    color: rgb(253, 17, 62);
}

.shop-btn {
    padding: 12px 90px;
    ;
    border-radius: 31px;
}

.mt--15px {
    margin-top: -14px;
}

.slider-img {
    transform: rotateY(180deg) scale(1);
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        transform: rotateY(180deg) scale(1);
    }

    50% {
        transform: rotateY(180deg) scale(1.06);
    }

    100% {
        transform: rotateY(180deg) scale(1);
    }
}

.left-img-slider {
    left: -417px;
    bottom: -370px;
    transform: rotateY(180deg);
    width: 1287px;
}

.banner-img {
    border-radius: 20px;
    height: 350px;
}

.banner-img+div {
    left: 0;
    top: 0;
}

.banner-img-2 {
    background: url(../images/slider/h1_bn-2.jpg);
}

.img-hover {
    display: block;
    overflow: hidden;
    /* تا چیزی بیرون نزنه */
    border-radius: 12px;
    /* اختیاری */
}

.img-hover img {
    width: 100%;
    transition: all 0.4s ease;
}

.img-hover:hover img {
    transform: scale(1.08);
    /* کمی زوم */
    filter: brightness(0.8);
    /* کمی تیره‌تر */
}

.category-img {
    height: 280px;
}

.banner-badge {
    background-color: #3fc9d3;
    width: fit-content;
    font-size: 14px;
    padding: 12px 22px;
    border-radius: 32px;
}

.banner-btn {
    border: 1px solid white;

}


.first-title {
    font-size: 30px;
}

.first-title .first-part {
    color: #a8a8a8;
}

.cat-btn {
    border: 1px solid #e0e0e0;
    background: transparent;
    padding: 12px 0 12px 0;
    border-radius: 40px;
}

.border-line {
    width: 100%;
    height: 5px;
    background-color: #f4f4f4;
}

/* .product-first-clumn {
    height: 530px;
} */
.divi-h {
    height: 350px;
}

.product-first-clumn-img {
    filter: brightness(40%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
    border-radius: 20px;

}

.product-first-clumn:hover .product-first-clumn-img {
    filter: brightness(80%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
}

.pro-clumn {
    font-size: 50px;
}

.pro-clumn .first-part {
    color: #a8a8a8;
}

.price-type-badge {
    padding: 4px 17px;
    border: 1px solid;
    border-radius: 25px;
    font-size: 14px;
}

.price-type-badge.red {
    color: #EE440E;
    border-color: #EE440E;
}

.yellow {
    color: rgb(255, 185, 18);
}

.orange {
    color: rgb(254, 124, 9);
}

.price-type-badge.green {
    color: #61d7ba;
    border-color: #61d7ba;
}

.price-type-badge.purpule {
    color: #8aa9d8;
    border-color: #8aa9d8;
}

.bottom-of-card {
    background-color: #8cff64 !important;
    height: 40px !important;
    transition: .4s all;
}

.product-swiper-card {
    position: relative;
    overflow: hidden;
}

.product-swiper-card .bottom-of-card {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -100%;
    /* مخفی پایین کارت */
    background: #fff;
    /* یا هر رنگی */
    padding: 15px;
    transition: all 0.3s ease;
    /* انیمیشن حرکت */
    opacity: 0;
    /* محو بودن اولش */
}

/* .product-swiper-card:hover {
    background-color: #f8f8f8;
} */

.product-swiper-card:hover .bottom-of-card {
    bottom: 0;
    /* بیاد بالا */
    opacity: 1;
    /* شفاف بشه */
}

.product-swiper-card .img,
.product-swiper-card .price {
    transition: all 0.3s ease;
    /* انیمیشن حرکت */

}

.product-swiper-card:hover .img {
    transform: translateY(-7px);
}

.product-swiper-card:hover .price {
    transform: translateY(-35px);
}

.product-swiper-card {
    position: relative;
    overflow: hidden;
}

.product-swiper-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0);
    /* شفاف در حالت عادی */
    transition: background 0.3s ease;
}

.product-swiper-card:hover::after {
    background: rgba(0, 0, 0, 0.05);
    /* خاکستری ملایم */
}

.product-swiper-card.position-relative .position-absolute {
    top: 100px;
    left: 15px;
    display: none;
}

.product-swiper-card.position-relative .position-absolute div {
    width: 35px;
    height: 35px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 50%;
}

.product-swiper-card.position-relative:hover .position-absolute {
    display: block;
    z-index: 1000;
}

.border-c {
    border: 1px solid rgb(236, 236, 236);
}

.py-6 {
    padding-top: 5em;
    padding-bottom: 5em;
}

.intro-txt {
    font-size: 40px;
}

.lh-2 {
    line-height: 2;
}

.c-sec-2-color {
    color: #5b5b5b;
}

.intro-img {
    height: 400px;
    width: 100%;
}



.hover-colo-btn:hover div {
    color: #000000 !important;
    transition: .3s all;
}

.hover-colo-btn {
    padding: 10px 15px;
}

.hover-colo-btn.active {
    background-color: #8cff64 !important;
    color: #000000;
    border-radius: 40px;
}

.hover-colo-btn svg {
    display: none;
}

.hover-colo-btn.active svg {
    display: block;
}

.left-arrow-icon-btn {
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
}

.stciky-tab img {
    bottom: 0;
    right: 0;
}













.custom-tab-btn {
    flex: 1;
    display: flex;
    justify-content: space-between;
    /* فاصله متن‌ها */
    align-items: center;
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: #fff;
    font-weight: 700;
    transition: all 0.3s ease;
}

.custom-tab-btn:hover {
    background-color: #f0f0f0;
}

.custom-tab-btn.active {
    background-color: #0d6efd;
    color: #fff;
    border-color: #0d6efd;
}


.star-color {
    color: #ee440e;
}


.customers-back {
    position: relative;
    background-image: url(../images/slider/h1_bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
    padding-bottom: 150px !important;
    z-index: 1;
}

/* تیرگی روی کل بک‌گراند */
.customers-back::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    /* شفافیت رو تغییر بده */
    z-index: 1;
}


/* متن و محتوای داخل سکشن بالاتر از لایه‌ها باشه */
.customers-back>* {
    position: relative;
    z-index: 3;
}

.customers-txt {
    font-size: 40px;
}


.customer-card {
    padding: 40px 40px 40px 40px;
    background: #FFFFFF12;
    border-radius: 20px;
}

.brand_s img {
    opacity: 0.2;
    transition: .3s;
}

.brand_s img:hover {
    opacity: 1;
}

.read-more-btn {
    width: fit-content;
    border-bottom: 1px solid #000;
}

.cat-blog-box {
    padding: 7px 13px;
    border-radius: 20px;
    border: 1px solid black;
    bottom: -15px;
    right: 20px;
}




.border-top-c {
    border-top: 1px solid rgb(58, 58, 58);
}




.swiper-slide {
    width: 100%;
    /* اندازه تصویر */
}

.img-hover-2 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
}

.img-hover-2 img {
    width: 100%;
    transition: 0.3s;
    display: block;
    border-radius: 20px;
}

.img-hover-2:hover img {
    filter: brightness(70%);
}

.hover-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
}

.img-hover-2:hover .hover-icon {
    opacity: 1;
}



.text-green {
    color: #8CFF64;
}

.footer {
    background-color: #202020;
}

.footer-border-bottom {
    border-bottom: 1px solid rgb(56, 56, 56);
}

.footer-list li {
    list-style: none;
    margin-top: 10px;
}

.footer-list li a {
    color: #A8A8A8;

}

.footer-inp:focus {
    outline: none;
}

.footer-inp {
    background-color: #FFFFFF0D;
    border-style: none;
    margin: 0px 0px 10px 0px;
    border-radius: 30px;
    height: 46px;
}






.ticker {
    width: 100%;
    overflow: hidden;
    font-size: 18px;
    white-space: nowrap;
    box-sizing: border-box;
}

.ticker__wrap {
    display: inline-block;
    animation: ticker 20s linear infinite;
}

.ticker__item {
    display: inline-block;
    padding: 0 2rem;
}

.tag-bo {
    padding: 6px 19px;
}

.tag-bo:hover {
    background-color: #8cff64;
    transition: .5s all;

    border: none !important;
}

.tag-bo:hover a {

    color: black;
}

.sticky-top-cu-blog {
    position: sticky;
    top: 15px;
    height: fit-content;
}

@keyframes ticker {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }

    /* نصف چون دوبار داریم */
}


.large-txt {
    font-size: 30px;
}

.p-cc {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}




.max-width-container {
    max-width: 100%;
}

.max-width-blog-container {
    max-width: 92%;
}

/* blog standard */

/* header */
.second-header {
    background-color: #f4f4f4;
    height: 190px;
}


.second-header-tetx {
    font-size: 45px;
}

.blog-txt {
    font-size: 35px;
}

.base-inp {
    background-color: #f4f4f4;
    height: 50px;
    border-radius: 50px;
    border: 1px solid transparent;
    /* از اول تعریف می‌کنیم */
    transition: .4s all;
    color: #5b5b5b;
}


.base-inp:focus {
    outline: none;
    border: 1px solid #5B5B5B !important;
}


.base-inp::placeholder {
    color: rgb(180, 180, 180);
    font-size: 15px;
}

.search-ic {
    top: 15px !important;
    left: 15px;
}

/* blog grid */
.first-blog-grid-img {
    height: 450px;
}

.main-first-text {
    font-size: 30px;
}

.left-co {
    padding: 30px;
}




.tab-grid-btn {
    padding: 13px 20px !important;
    border-radius: 40px;
    cursor: pointer;
    transition: .4s;
}

.tab-grid-btn:hover {
    border-color: black !important;
}

.tab-grid-btn.active {
    border-color: transparent !important;
    background-color: #8CFF64;
}

.blog-txt-2 {
    font-size: 25px;
}


/* single-blog */
.bread-crumb {
    background-color: #f4f4f4;
}

.bread-crumb a:hover {
    color: black;
}

.main-single-title {
    line-height: 1.3;
    font-size: 30px;
}

.main-sinle-img {
    border-radius: 25px;
    height: 300px;
}

.content-single-editor p {
    color: #5b5b5b;
    line-height: 1.8;
}

.content-single-editor h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.8;
}

.content-single-editor img {
    border-radius: 20px;
}

/* blog comment */
.commt-head {
    font-size: 40px;
}

.comment-box {
    background-color: #f5f5f5;
}


.textarea-inp {
    background-color: #f4f4f4;
    height: 50px;
    border-radius: 30px;
    border: 1px solid transparent;
    transition: .4s all;
    color: #5b5b5b;
    height: 150px;
}

.textarea-inp:focus {
    outline: none;
    border: 1px solid #5B5B5B !important;
}


.textarea-inp::placeholder {
    color: rgb(180, 180, 180);
    font-size: 15px;
}

/* contact */
.contac-b-txt {
    font-size: 45px;
}

#map {
    height: 300px;
    width: 100%;
    filter: grayscale(100%) contrast(1) brightness(1);
}

/* product default */
.pro-title {
    font-size: 35px;
}

.sixe-box {
    padding: 11px 22px;
}

.add-to-card-btn {
    height: 48px;
    border-radius: 50px;
    border-color: rgb(151, 151, 151) !important;
    color: rgb(255, 255, 255);
    background-color: #7f7f7f;
}

.add-to-card-btn.active {
    background-color: #000000;
    color: white !important;
    border-color: black !important;
}

.flavor-option.active,
.size-option.active {
    border-color: black !important;
}

.buy-now-btn {
    height: 48px;
    border-radius: 50px;
    border-color: rgb(151, 151, 151) !important;
    color: rgb(146, 146, 146);
}

.buy-now-btn.active {
    border-color: rgb(0, 0, 0) !important;
    color: #000000;
}

.like-box {
    width: 58px;
    height: 50px;
}

.buy-now-btn {
    border: 1px solid black;

}

.right-image-gallery-pro {}


.zoom-container {
    overflow: hidden;
    position: relative;
}

.zoom-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.1s ease;
    transform-origin: center center;
}


.description-of-pro h5 {
    font-weight: 800;
    font-size: 23px;
}



.description-of-pro p {
    color: #5b5b5b;
    line-height: 2;
}

.description-of-pro li {
    margin-top: 15px;
}

.message-box {
    background-color: #3d9cd2;
    border-right: 8px solid #3485b3;
    border-radius: 2px;
}

.bb-3 {
    border-bottom: 3px solid black;
}

.wh-s {
    width: 40px;
    height: 40px;
}

.pop_post {
    height: 400px;
}

.border-bla {
    border: 1px solid black !important;
}

.btn-hove:hover {
    background-color: #8cff64 !important;
    border-color: transparent !important;
    transition: .3s all ease;
}

/* media */
@media only screen and (min-width: 576px) {

    .large-txt {
        font-size: 50px;
    }

    .banner-img {
        height: 400px;
    }

    .large-txt-2 {
        font-size: 50px;
    }

    .fs22-sub {
        font-size: 18px;
    }

    .first-title {
        font-size: 40px;
    }

    .max-width-blog-container {
        max-width: 95%;
    }
}

@media only screen and (min-width: 768px) {


    .first-title {
        font-size: 55px;
    }

    .category-img {
        min-height: 250px;
    }

    .border-bottom-md-0 {
        border-bottom: 0 !important;
    }

    .intro-txt {
        font-size: 50px;
    }

    .intro-img {
        height: 700px;
        width: 100%;
    }

    .customers-txt {
        font-size: 55px;
    }

    .border-top-c {
        border: none;
    }

    .second-header-tetx {
        font-size: 65px;
    }

    .second-header {
        background-color: #f4f4f4;
        height: 220px;
    }

    .blog-txt {
        font-size: 45px;
    }

    .max-width-blog-container {
        max-width: 96%;
    }

    .main-first-text {
        font-size: 30px;
    }

    .first-blog-grid-img {
        height: 600px;
    }

    .main-single-title {
        font-size: 40px;
    }

    .main-sinle-img {
        height: 400px;
    }

    .contac-b-txt {
        font-size: 55px;
    }

    #map {
        height: 400px;
        width: 100%
    }

    .pro-title {
        font-size: 45px;
    }
}

@media only screen and (min-width: 992px) {

    .max-width-container {
        max-width: 96%;
    }

    .large-txt {
        font-size: 70px;
    }

    .banner-img {
        height: 550px;
    }

    .large-txt-2 {
        font-size: 75px;
    }

    .fs22-sub {
        font-size: 22px;
    }

    .first-title {
        font-size: 70px;
    }

    .category-img {
        min-height: 250px;
    }

    .divi-h {
        height: auto;
    }

    .pro-clumn {
        font-size: 50px;
    }

    .p-cc {
        padding-top: 5em;
        padding-bottom: 5em;
    }

    .intro-txt {
        font-size: 65px;
    }

    .intro-img {
        height: 840px;
        width: 75%;
    }

    .back-color-co {
        background: linear-gradient(to right,
                #f5f5f5 40%,
                /* از 0 تا 40 درصد خاکستری */
                #f5f5f5 40%,
                /* مرز صاف */
                #ffffff 40%,
                /* از 40 به بعد سفید */
                #ffffff 100%
                /* تا آخر سفید */
            );
    }




    .customers-txt {
        font-size: 70px;
    }

    .second-header-tetx {
        font-size: 80px;
    }

    .second-header {
        background-color: #f4f4f4;
        height: 280px;
    }

    .max-width-blog-container {
        max-width: 97%;
    }


    .left-co {
        padding: 70px;
    }

    .main-first-text {
        font-size: 44px;
    }

    .main-single-title {
        font-size: 50px;
    }

    .main-sinle-img {
        height: 600px;
    }

    .right-arrow-shape {
        width: 16px;
        height: 16px;
        background-color: #f5f5f5;
        right: -8px;
        transform: rotate(45deg);
    }

    .contac-b-txt {
        font-size: 70px;
    }


    #map {
        height: 600px;
        width: 100%
    }


    .border-end-ci {
        border-right: 1px solid rgb(230, 230, 230);
    }

}

@media only screen and (min-width: 1200px) {
    /* .max-width-container {
        max-width: 1200px;
    } */

    .large-txt {
        font-size: 70px;
    }

    .category-img {
        min-height: 350px;
    }

    .pro-clumn {
        font-size: 70px;
    }

    .left-co {
        padding: 100px;
    }

    .pro-title {
        font-size: 50px;
    }

}




@media only screen and (min-width: 1280px) {
    /* .max-width-container {
        max-width: 1280px;
    } */
}




@media only screen and (min-width: 1400px) {
    /* .max-width-container {
        max-width: 1400px;
    } */
}

@media only screen and (min-width: 1450px) {


    .large-txt {
        font-size: 95px;
    }


}

@media only screen and (min-width: 1600px) {
    /* .max-width-container {
        max-width: 1460px;
    } */

    .max-width-container {
        max-width: 1450px;
    }

    .max-width-blog-container {
        max-width: 1450px;
    }

}